[Unit]
Description=AEM Publish Instance
After=network.target

[Service]
Type=oneshot
User=aemuser
ExecStart=/opt/adobe/aem/publish/crx-quickstart/bin/start
ExecStop=/opt/adobe/aem/publish/crx-quickstart/bin/stop
RemainAfterExit=true
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target